{% extends 'base.html' %}

{% block content %}
  <h1>Enter your email address</h1>
  <form method="post" action=''>
    {% csrf_token %}
    {% if form.errors %}
        <div class="alert alert-danger">
            <ul>
                {% for field in form %}
                {% for error in field.errors %}
                    <li>{{ error }}</li>
                {% endfor %}
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    {{ form.as_p }}
    <button type="submit">Submit</button>
  </form>
{% endblock %}